In [101]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

## Loading data - Movies Details Cleaned

In [102]:
df_raw = pd.read_csv("data/AllMoviesDetailsCleaned.csv", delimiter=';')

/tmp/ipykernel_5142/122894487.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv("data/AllMoviesDetailsCleaned.csv", delimiter=';')

In [104]:
df = df_raw.copy()
df.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69.0,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76.0,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,110.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,Austria,...,80.0,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329044 entries, 0 to 329043
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           329044 non-null  int64
 1   budget                       329044 non-null  int64
 2   genres                       207515 non-null  object
 3   imdb_id                      250564 non-null  object
 4   original_language            328841 non-null  object
 5   original_title               329043 non-null  object
 6   overview                     278060 non-null  object
 7   popularity                   329044 non-null  object
 8   production_companies         329044 non-null  object
 9   production_countries         329044 non-null  object
 10  release_date                 304998 non-null  object
 11  revenue                      329044 non-null  int64
 12  runtime                      292252 non-null  float64
 13  spoken_languages             324584 non-null  object
 14  status                       327056 non-null  object
 15  tagline                      52931 non-null   object
 16  title                        329043 non-null  object
 17  vote_average                 329044 non-null  float64
 18  vote_count                   329044 non-null  int64
 19  production_companies_number  329044 non-null  int64
 20  production_countries_number  329044 non-null  int64
 21  spoken_languages_number      329044 non-null  int64
dtypes: float64(2), int64(7), object(13)
memory usage: 55.2+ MB

## Loading data - Belongs to Collection

In [106]:
df_col_raw = pd.read_csv("data/movies_metadata.csv")

In [107]:
df_col = df_col_raw.copy()
df_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: bool(1), float64(5), int64(2), object(16)
memory usage: 8.0+ MB

In [108]:
df_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: bool(1), float64(5), int64(2), object(16)
memory usage: 8.0+ MB

## Merging the movie cleaned and belongs to collection

In [109]:
df_col_filter = df_col[['id', 'belongs_to_collection']]
df_col_filter

           id                              belongs_to_collection
0         862  {'id': 10194, 'name': 'Toy Story Collection', ...
1        8844                                                NaN
2       15602  {'id': 119050, 'name': 'Grumpy Old Men Collect...
3       31357                                                NaN
4       11862  {'id': 96871, 'name': 'Father of the Bride Col...
...       ...                                                ...
45458  439050                                                NaN
45459  111109                                                NaN
45460   67758                                                NaN
45461  227506                                                NaN
45462  461257                                                NaN

[45463 rows x 2 columns]

In [110]:
df.shape

(329044, 22)

In [111]:
df_col_filter.drop_duplicates(inplace = True)

/tmp/ipykernel_5142/1809697786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_filter.drop_duplicates(inplace = True)

In [113]:
df_merge = df.merge(df_col_filter, how = 'left', on = 'id')

In [115]:
df_merge.shape

(329044, 23)

In [116]:
df_merge.to_csv("AllMoviesDetailsCleaned_merge_metadata.csv",index=False)

## Loading data - MovieCastingRaw

In [ ]:
df_cast_raw = pd.read_csv("data/AllMoviesCastingRaw.csv", delimiter=';')

In [ ]:
df_cast = df_cast_raw.copy()
df_cast

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.info()

## Extracting collection from dictionary

In [151]:
df_col_test = df_col_filter[['belongs_to_collection']].astype('str')
df_col_test

                                   belongs_to_collection
0      {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                    nan
2      {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                    nan
4      {'id': 96871, 'name': 'Father of the Bride Col...
...                                                  ...
45458                                                nan
45459                                                nan
45460                                                nan
45461                                                nan
45462                                                nan

[45433 rows x 1 columns]

In [152]:
df_col_test.isnull().sum()

belongs_to_collection    0
dtype: int64

In [155]:
df_col_test = df_col_test[df_col_test["belongs_to_collection"].str.contains("nan") == False]
df_col_test

                                   belongs_to_collection
0      {'id': 10194, 'name': 'Toy Story Collection', ...
2      {'id': 119050, 'name': 'Grumpy Old Men Collect...
4      {'id': 96871, 'name': 'Father of the Bride Col...
9      {'id': 645, 'name': 'James Bond Collection', '...
12     {'id': 117693, 'name': 'Balto Collection', 'po...
...                                                  ...
45352  {'id': 37261, 'name': 'The Carry On Collection...
45355  {'id': 37261, 'name': 'The Carry On Collection...
45366  {'id': 37261, 'name': 'The Carry On Collection...
45368  {'id': 477208, 'name': 'DC Super Hero Girls Co...
45379  {'id': 200641, 'name': 'Red Lotus Collection',...

[4481 rows x 1 columns]

In [185]:
df_col_test_dic = df_col_test["belongs_to_collection"].apply(lambda x : dict(eval(x))['name'])
df_col_test_dic

0                  Toy Story Collection
2             Grumpy Old Men Collection
4        Father of the Bride Collection
9                 James Bond Collection
12                     Balto Collection
                      ...
45352           The Carry On Collection
45355           The Carry On Collection
45366           The Carry On Collection
45368    DC Super Hero Girls Collection
45379              Red Lotus Collection
Name: belongs_to_collection, Length: 4481, dtype: object