## Import Module

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from sklearn.pipeline import Pipeline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from python_files.fetch_missing_data import fetch_missing_data
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.dummy import DummyRegressor
from python_files.data import GetData
from python_files.basic_preprocessing import BasicPreprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

## Clean the data

In [3]:
data = GetData().get_data()['AllMoviesDetailsCleaned']
data.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number,belongs_to_collection
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,NaN,Villealfa Filmproduction Oy,Finland,...,suomi,Released,NaN,Ariel,7.1,40,2,1,2,NaN
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",NaN,Villealfa Filmproduction Oy,Finland,...,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3,NaN
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,NaN,Miramax Films,United States of America,...,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1,NaN
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",NaN,Universal Pictures,Japan,...,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1,NaN
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,NaN,inLoops,Austria,...,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5,NaN

In [4]:
data.shape

(329074, 23)

In [5]:
pd.read_csv('../data/AllMoviesDetailsCleaned.csv')

/tmp/ipykernel_27731/2503657910.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('../data/AllMoviesDetailsCleaned.csv')

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number,belongs_to_collection
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,NaN,Villealfa Filmproduction Oy,Finland,...,suomi,Released,NaN,Ariel,7.1,40,2,1,2,NaN
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",NaN,Villealfa Filmproduction Oy,Finland,...,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3,NaN
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,NaN,Miramax Films,United States of America,...,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1,NaN
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",NaN,Universal Pictures,Japan,...,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1,NaN
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,NaN,inLoops,Austria,...,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329069,469215,0,Documentary|History|TV Movie,tt5430190,en,The Day Hitler Died,The story of Hitlerâ€™s final hours told by peop...,NaN,History Channel,United States of America,...,Deutsch,Released,"April 30th, 1945",The Day Hitler Died,7.0,1,1,1,2,NaN
329070,469216,0,NaN,NaN,de,Mobb Deep - Life of the Infamous: The Videos,NaN,NaN,Sony Music Entertainmant,United States of America,...,English,Released,NaN,Mobb Deep - Life of the Infamous: The Videos,9.0,1,1,1,1,NaN
329071,469217,0,Drama|Comedy,NaN,en,#idiot,"In the modern day pursuit of fame and fortune,...",NaN,none,Malaysia,...,English,Released,NaN,#idiot,0.0,0,0,1,1,NaN
329072,469218,0,Drama|Comedy,tt6391664,en,Conspiracy P.I.E,Director Levi A. Taylor invites you on a nosta...,NaN,none,United States of America,...,English,Released,NaN,Conspiracy P.I.E,0.0,0,0,1,1,NaN
329073,469219,0,Drama,tt6413160,en,Chance,A homeless man is given a second chance at lif...,NaN,none,United States of America,...,English,Released,NaN,Chance,0.0,0,0,1,1,NaN

### Apply basic preprocessing

In [6]:
df = BasicPreprocessing.apply(data)
df.head()

,id,budget,genres,original_language,original_title,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number,collection
2,5,4000000,Crime|Comedy,en,Four Rooms,Miramax Films,United States of America,25/12/1995,4300000,98.0,Four Rooms,6.5,485,2,1,1,1
5,9,4000000,Drama,de,Sonntag im August,none,Germany,2/9/2004,4257354,15.0,Sunday in August,5.7,2256,0,1,1,1
6,11,11000000,Adventure|Action|Science Fiction,en,Star Wars,Lucasfilm,United States of America,25/05/1977,775398007,121.0,Star Wars,8.0,6168,2,1,1,1
7,12,94000000,Animation|Family,en,Finding Nemo,Pixar Animation Studios,United States of America,30/05/2003,940335536,100.0,Finding Nemo,7.6,5531,1,1,1,1
8,13,55000000,Comedy|Drama|Romance,en,Forrest Gump,Paramount Pictures,United States of America,6/7/1994,677945399,142.0,Forrest Gump,8.2,7204,1,1,1,1

In [9]:
df.columns

Index(['id', 'budget', 'genres', 'original_language', 'original_title',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'title', 'vote_average', 'vote_count',
       'production_companies_number', 'production_countries_number',
       'spoken_languages_number', 'collection'],
      dtype='object')

In [10]:
df.shape

(8628, 17)

### Impute the remaining missing values

In [11]:
df.isna().sum()

id                               0
budget                           0
genres                         209
original_language                0
original_title                   0
production_companies             0
production_countries             0
release_date                     0
revenue                          0
runtime                         16
title                            0
vote_average                     0
vote_count                       0
production_companies_number      0
production_countries_number      0
spoken_languages_number          0
collection                       0
dtype: int64

Before imputing I need to split the data

### Create `X_basic` that contains only numerical and categorical features.

In [12]:
df.dtypes

id                               int64
budget                           int64
genres                          object
original_language               object
original_title                  object
production_companies            object
production_countries            object
release_date                    object
revenue                          int64
runtime                        float64
title                           object
vote_average                   float64
vote_count                       int64
production_companies_number      int64
production_countries_number      int64
spoken_languages_number          int64
collection                       int64
dtype: object

In [13]:
X_basic = df.drop(columns = ['revenue', 'release_date'])
y = df['revenue']

In [14]:
# Impute and scale numeric data
numeric_transformer = Pipeline(steps=[ 
    ('imputer', SimpleImputer(strategy= 'mean')),
    ('scaler', StandardScaler())])
 
# Convert categorical data to binary
categorical_transformer = Pipeline(steps=[
    ('encoder', OneHotEncoder(handle_unknown='ignore'))])

In [15]:
numeric_transformer.fit_transform(df[['runtime']])

array([[-1.78265107e-01],
       [-2.80186882e+00],
       [ 5.48757609e-01],
       ...,
       [-4.49200617e-16],
       [ 1.87636431e+00],
       [ 1.06222043e-01]])