In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import xlim
import numpy as np

# Import data

In [2]:
# Import data 'AllMoviesDetailsCleaned'

path = '/home/abeljiang2/code/final_project/data-movie-revenue-prediction/data/'
file_name = 'AllMoviesDetailsCleaned.csv'
data_details = pd.read_csv(f"{path}{file_name}", delimiter=';')
data_details.head()

/tmp/ipykernel_7357/1478768578.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data_details = pd.read_csv(f"{path}{file_name}", delimiter=';')

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69.0,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76.0,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,110.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,Austria,...,80.0,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5

In [3]:
data_details.shape

(329044, 22)

In [5]:
# Import data 'AllMoviesCastingRaw'

path = '/home/abeljiang2/code/final_project/data-movie-revenue-prediction/data/'
file_name = 'AllMoviesCastingRaw.csv'
data_casting = pd.read_csv(f"{path}{file_name}", delimiter=';')
data_casting.head()

,id,actor1_name,actor1_gender,actor2_name,actor2_gender,actor3_name,actor3_gender,actor4_name,actor4_gender,actor5_name,actor5_gender,actor_number,director_name,director_gender,director_number,producer_name,producer_number,screeplay_name,editor_name
0,2,Turo Pajala,0,Susanna Haavisto,0.0,Matti PellonpÃ¤Ã¤,2,Eetu Hilkamo,0,none,0,4,Aki KaurismÃ¤ki,0.0,1,none,0,Aki KaurismÃ¤ki,Raija Talvio
1,3,Matti PellonpÃ¤Ã¤,2,Kati Outinen,1.0,Sakari Kuosmanen,2,Esko Nikkari,2,Kylli KÃ¶ngÃ¤s,0,7,Aki KaurismÃ¤ki,0.0,1,Mika KaurismÃ¤ki,1,Aki KaurismÃ¤ki,Raija Talvio
2,5,Tim Roth,2,Antonio Banderas,2.0,Jennifer Beals,1,Madonna,1,Marisa Tomei,1,24,Allison Anders,1.0,4,Lawrence Bender,1,none,Margaret Goodspeed
3,6,Emilio Estevez,2,Cuba Gooding Jr.,2.0,Denis Leary,2,Jeremy Piven,2,Peter Greene,2,15,Stephen Hopkins,2.0,1,Gene Levy,1,Lewis Colick,Tim Wellburn
4,8,none,0,none,0.0,none,0,none,0,none,0,0,Timo Novotny,0.0,1,Timo Novotny,2,Michael Glawogger,Timo Novotny

In [6]:
data_casting.shape

(329044, 19)

# Preprocessing data

In [45]:
data_join = data_details.join(data_casting, on = 'id', how = 'outer', lsuffix='_left', rsuffix='_right').drop(columns=['id_left','id_right'])
data_join.columns

Index(['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'production_companies_number',
       'production_countries_number', 'spoken_languages_number', 'actor1_name',
       'actor1_gender', 'actor2_name', 'actor2_gender', 'actor3_name',
       'actor3_gender', 'actor4_name', 'actor4_gender', 'actor5_name',
       'actor5_gender', 'actor_number', 'director_name', 'director_gender',
       'director_number', 'producer_name', 'producer_number', 'screeplay_name',
       'editor_name'],
      dtype='object')

In [46]:
data_join.shape

(446696, 40)

In [47]:
data_join.describe()

,id,budget,revenue,runtime,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number,actor1_gender,actor2_gender,actor3_gender,actor4_gender,actor5_gender,actor_number,director_gender,director_number,producer_number
count,446696.000000,3.290440e+05,3.290440e+05,292252.000000,329044.000000,329044.000000,329044.00000,329044.000000,329044.000000,329044.000000,329043.000000,329044.000000,329044.000000,329044.000000,329044.000000,329043.000000,329044.000000,329044.000000
mean,226307.384293,6.129073e+05,1.533838e+06,60.406813,2.374474,14.211270,0.59475,0.609882,0.647628,0.376776,0.549053,0.466424,0.418673,0.368528,5.589471,0.789845,0.845762,0.313681
std,133261.220608,6.845307e+06,2.401891e+07,142.502210,3.126254,166.443851,1.03807,0.664861,0.672048,0.740933,0.818284,0.776736,0.756893,0.726931,7.724335,0.838305,0.667769,0.798108
min,0.000000,0.000000e+00,-1.200000e+01,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,111673.750000,0.000000e+00,0.000000e+00,5.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,223347.500000,0.000000e+00,0.000000e+00,71.000000,0.000000,0.000000,0.00000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,1.000000,0.000000
75%,335913.250000,0.000000e+00,0.000000e+00,94.000000,5.500000,1.000000,1.00000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,8.000000,2.000000,1.000000,0.000000
max,469219.000000,6.000000e+08,2.781506e+09,51420.000000,10.000000,12811.000000,26.00000,26.000000,25.000000,2.000000,2.000000,2.000000,2.000000,2.000000,313.000000,2.000000,70.000000,24.000000

In [48]:
data_join_valid = data_join[data_join['revenue']>0]
data_join_valid.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,actor5_name,actor5_gender,actor_number,director_name,director_gender,director_number,producer_name,producer_number,screeplay_name,editor_name
2.0,5,4000000.0,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,none,0.0,2.0,Marc Meyer,0.0,2.0,Marc Meyer,1.0,none,Marc Meyer
3.0,6,0.0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,Alec Guinness,2.0,106.0,George Lucas,2.0,1.0,Gary Kurtz,2.0,none,Marcia Lucas
6.0,11,11000000.0,Adventure|Action|Science Fiction,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,10.492614,Lucasfilm,United States of America,...,Joel Grey,2.0,29.0,Lars von Trier,2.0,1.0,Vibeke WindelÃ¸v,10.0,none,FranÃ§ois GÃ©digier
7.0,12,94000000.0,Animation|Family,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",9.915573,Pixar Animation Studios,United States of America,...,Abigail Stone,1.0,10.0,John Fawcett,2.0,1.0,Paul W.S. Anderson,3.0,Stephen Massicotte,Chris Gill
8.0,13,55000000.0,Comedy|Drama|Romance,tt0109830,en,Forrest Gump,A man with a low IQ has accomplished great thi...,10.351236,Paramount Pictures,United States of America,...,Chris Tucker,2.0,115.0,Luc Besson,2.0,1.0,Patrice Ledoux,1.0,Luc Besson,Sylvie Landra

In [49]:
data_join_valid.shape

(8689, 40)

In [50]:
data_join_valid.isnull().sum().sort_values(ascending=False)

tagline                        2401
editor_name                     671
actor3_gender                   671
actor2_gender                   671
actor2_name                     671
actor1_gender                   671
actor1_name                     671
actor4_name                     671
actor4_gender                   671
actor5_name                     671
actor5_gender                   671
actor_number                    671
director_name                   671
actor3_name                     671
director_gender                 671
director_number                 671
producer_name                   671
producer_number                 671
screeplay_name                  671
imdb_id                         349
genres                          293
overview                        273
runtime                         158
spoken_languages                115
release_date                    104
status                            5
original_language                 1
id                                0
spoken_languages_number           0
budget                            0
production_companies_number       0
vote_count                        0
vote_average                      0
title                             0
revenue                           0
production_countries              0
production_companies              0
popularity                        0
original_title                    0
production_countries_number       0
dtype: int64